*{
    margin: 0;
}
.app{
    background-color: #fafafa;
    height: 100%;
}
.app_header{
    object-fit: contain;
    padding: 10px;
    background-color: white;
    position: sticky;
    z-index: 99;
    top: 0;
    border-bottom: 1px solid lightgray;
}